{% load static %}

<link rel="stylesheet" href="{% static 'css/details.css' %}">

<body>
    <h1 class="heading">Startup Details</h1>
    <img src="/static/img/Logo.svg" class="logo" alt="logo">

    <table>
        {% for content in contents %}

        <tr>
            <th>Name</th>
            <td><label class="label name">{{ content.name }}</label></td>
        </tr>

        <tr>
            <th>Description</th>
            <td><label class="label description">{{ content.description|truncatechars:50 }}</label></td>
        </tr>

        <tr>
            <th>Email</th>
            <td><label class="label email">{{ content.email }}</label></td>
        </tr>

        <tr>
            <th>Awards</th>
            <td><label class="label awards">{{ content.awards }}</label></td>
        </tr>

        <tr>
            <th>Youtube</th>
            <td>
                {% if embed %}
                <label class="label youtube">
                    <iframe width="500" height="315" src="{{embed}}">
                    </iframe>
                </label>
                {% endif %}
            </td>

        </tr>

        <tr>
            <th>location</th>
            <td><label class="label location">{{ content.location }}</label></td>
        </tr>

        <tr>
            <th>Date Added</th>
            <td><label class="label location">{{ content.date_added }}</label></td>
        </tr>

        {% endfor %}
    </table>




    {% include 'footer.html'%}

</body>