{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<body>
    

<div class="container">
    <img src="/static/img/Logo.svg" class="logo" alt="logo">
    <div class="card">
        <form method="POST">
            {% csrf_token %}
            <h1>Log in to your account</h1>

            <label for="username" class="label user">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Username" class="input-user" required>
            <i class="fa fa-user fa-2x fa-fw"></i>

            <label for="password" class="label pass">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Password" class="input-password" required>
            <i class="fa fa-lock fa-2x fa-fw"></i>

            <input type="submit" value="Log In" class="submit-btn">
        </form>
        <div class="register-here">
            <p style="color: black;">Don't have an account? <a href="/accounts/signup/" target="blank" style="text-decoration: none;"><strong class="register-link"> Register Here!</strong></a></p>
        </div>

    <div>
        {% for message in messages %}
        <h3 class="msg">{{ message }}</h3>
        {% endfor %}
    </div>
 
    </div>
</div>

{% include 'footer.html'%}

</body>