{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

{% block content %}

<body>

    {% include 'navbar.html'%}
    <b><p class="hello">Hello, {{ user.username|default:'Guest' }}!</p></b>

    <div class="container">
       
        {% for content in contents %}
        <div class="card">
            <div class="card-img">
                <img src="/static/img/Logo.svg" class="cd-img">
            </div>
            <div class="card-details">
            <a href="/startups/details/{{ content.id }}" class="label name">{{ content.name }}</a><br><br><br>

            <label class="label description">{{ content.description }}</label><br><br>

            <label class="label email">{{ content.email }}</label><br>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'footer.html'%}

</body>

{% endblock %}