{% extends 'base.html' %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    <!-- <style>
        .username {
            padding: 40px;
        }
    </style> -->
    {% csrf_token %}

    <p>
        <label class="username-label">{{ form.username.label_tag }}</label> <br>
        {{ form.username }}
    </p>

    <p>
        <label class=" f_name-label">{{ form.first_name.label_tag }}</label> <br>
        {{ form.first_name }}

    </p>

    <p>
        <label class="l_name-label">{{ form.last_name.label_tag }}</label> <br>
        {{ form.last_name }}
    </p>

    <p>
        <label class="email-label">{{ form.email.label_tag }}</label> <br>
        {{ form.email }}
    </p>

    <p>
        <label class="password1-label">{{ form.password1.label_tag }}</label> <br>
        {{ form.password1 }}
    </p>

    <p>
        <label class="password2-label">{{ form.password2.label_tag }}</label> <br>
        {{ form.password2 }}
    </p>

    {% for field in form %}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}

    <button type="submit">Sign up</button>
    <div class="content">
</form>
{% endblock %}