{% load static %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 


{% block content %}
<div class="container">
    <img src="/static/img/Logo.svg" class="logo" alt="logo">
    <div class="card">
        <h1>Sign Up</h1>
        <form method="post">
            
            {% csrf_token %}

            <label class="u_name label">{{ form.username.label_tag }}</label> <br>
            {{ form.username }} <br>
            <i class="fa fa-user fa-2x fa-fw"></i>
            

            <label class="firstname label">{{ form.first_name.label_tag }}</label> <br>
            {{ form.first_name }} <br>
            <i class="fa fa-user-circle-o fa-2x fa-fw"></i>

            
            <label class="lastname label">{{ form.last_name.label_tag }}</label> <br>
            {{ form.last_name }} <br>
            <i class="fa fa-user-circle-o fa-2x fa-fw"></i>
            
            
            <label class="email_id label">{{ form.email.label_tag }}</label> <br>
            {{ form.email }} <br>
            <i class="fa fa-envelope fa-2x fa-fw"></i>

            
            <label class="pass1 label">{{ form.password1.label_tag }}</label> <br>
            {{ form.password1 }} <br>
            <i class="fa fa-lock fa-2x fa-fw lock1"></i>
            
            
            <label class="pass2 label">{{ form.password2.label_tag }}</label> <br>
            {{ form.password2 }} <br>
            <i class="fa fa-lock fa-2x fa-fw"></i>
            

            {% for field in form %}
            {% for error in field.errors %}
            <p class="warnings">{{ error }}</p>
            {% endfor %}
            {% endfor %}

            <button type="submit">Sign Up</button>
            
        </form>
    </div>
</div>
{% endblock %}