   {% load static %}

   <link rel="stylesheet" href="{% static 'css/allstartups.css' %}">

   {% block content %}

   <body>

       <h1>Startups</h1>
       <div class="container">
           {% for content in contents %}
           <div class="card">
               <label class="label name">{{ content.name }}</label><br>
               <label class="label description">{{ content.description|truncatechars:50 }} </label><br>
               <a class="relative" href="/startups/update/{{content.id}}">Update </a>
               <a class="relative" href="/startups/delete/{{content.id}}">Delete </a>


           </div>
           {% endfor %}
       </div>

   </body>

   {% endblock %}